body {
    margin: 0%;
    padding: 0%;
    font-family: Lato, sans-serif;
    box-sizing: border-box;
  }
  
  /* ******************************************************************************/
  .dark {
    position: fixed;
    background-color: #eeeeee;
    padding: 9px 0px;
    right: 0;
    top: 48%;
    border-radius: 7px 0 0 7px;
    cursor: pointer;
  }
  .dark a {
    color: #000000;
    font-size: 18px;
    margin-left: 5px;
    text-decoration: none;
  }
  
  .gear {
    position: fixed;
    background-color: #eeeeee;
    padding: 10px;
    right: 0;
    top: 40%;
    border-radius: 7px 0 0 7px;
    cursor: pointer;
  }
  .gear a i {
    color: #000000;
    font-size: 18px;
    margin-left: 5px;
    animation: rotate 2s linear infinite;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /* ********************************** massage-round-button ********************************************/
  .massage-round-button {
    position: fixed;
    background-color: #ff402d;
    padding: 10px;
    right: 26px;
    bottom: 65px;
    border-radius: 100%;
    z-index: 999;
    cursor: pointer;
  }
  .massage-round-button i {
    font-size: 40px;
    color: white;
  }
  
  /* ***************************** top **********************************************/
  
  .top-header {
    display: flex;
    justify-content: space-between;
    padding: 0px 52px;
    color: #999999;
    align-items: center;
    background-color: #f8f8f8;
  }
  .left-welcome-to {
    display: flex;
    align-items: center;
  }
  .left-welcome-to p {
    font-size: 14px;
    padding-right: 28px;
  }
  .left-welcome-to a {
    text-decoration: none;
    color: #999999;
    font-size: 14px;
  }
  .left-welcome-to a i {
    color: #ff4c3b;
    padding-right: 10px;
  }
  .right-compare {
    padding-right: 68px;
  }
  .right-compare a {
    text-decoration: none;
    color: #999999;
    font-size: 14px;
    padding: 0 10px;
  }
  .right-compare a i {
    padding-right: 8px;
  }
  
  /* ******************************** HEADER START **************************************************/
  
  header {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 1.8fr 0.5fr;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgb(242, 242, 242);
    box-shadow: 0px 2px 5px #a21212;
    padding: 14px 0;
    z-index: 999;
  }
  .menu-icon {
    margin-left: 18px;
  }
  .menu-icon a i {
    font-size: 24px;
    color: black;
    padding-left: 35px;
    cursor: pointer;
    transition: 0.5s;
  }
  .menu-icon a i:hover {
    color: #ff4c3b;
  }
  .logo {
    margin-left: 15px;
  }
  .logo span {
    font-size: 12px;
    font-weight: 900;
    padding: 12px;
    background-color: #ff4c3b;
    line-height: 20px;
    display: inline-block;
    border-radius: 100%;
    color: #fff;
  }
  .navbar ul {
    list-style: none;
    display: flex;
    padding-left: 20%;
  }
  
  .navbar ul li a {
    text-decoration: none;
    margin: 24px;
    color: #222222;
    font-size: 16px;
    transition: 0.8s;
    font-weight: lighter;
    cursor: pointer;
  }
  .navbar ul li a:hover {
    color: #ff4c3b;
  }
  .search-icon a i {
    font-size: 24px;
    color: black;
    margin: 12px;
    cursor: pointer;
    transition: 0.5s;
  }
  .search-icon a i:hover {
    color: #ff4c3b;
  }
  .empty {
    position: relative;
  }
  .empty i::after {
    content: "1";
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: -30px;
    left: 28px;
    padding: 5px 8px;
    border-radius: 50%;
    background-color: red;
  }
  
  .new {
    position: relative;
  }
  .new a::after {
    content: "NEW";
    color: rgb(255, 255, 255);
    font-size: 12px;
    position: absolute;
    top: -27px;
    left: 24px;
    padding: 2px 8px;
    background-color: red;
  }
  .new a i {
    content: "";
    color: red;
    position: absolute;
    top: -17px;
    left: 28px;
  }